{% extends "default/class.twig" %}
{% from "macros.twig" import render_classes, property_link, hint_link, deprecated, deprecations, internals, todos %}

{# This has to be included so that we can add config after constants #}
{% block page_content %}

    <div class="page-header">
        <h1>
            {{- class.name|split('\\')|last|raw -}}
            {{- deprecated(class) }}
            {% if class.isReadOnly() %}<small><span class="label label-primary">{% trans 'read-only' %}</span></small>{% endif -%}
        </h1>
    </div>

    {% if class.hasSince() %}
        <i>{{ 'Since:'|trans }} {{ class.getSince() }}</i>
        <br>
    {% endif %}

    <p>{{ block('class_signature') }}</p>

    {{ deprecations(class) }}
    {{ internals(class) }}

    {% if class.shortdesc or class.longdesc %}
        <div class="description">
            {% if class.shortdesc -%}
                <p>{{ class.shortdesc|desc(class)|md_to_html }}</p>
            {%- endif %}
            {% if class.longdesc -%}
                <p>{{ class.longdesc|desc(class)|md_to_html }}</p>
            {%- endif %}
        </div>
    {% endif %}
    {{- todos(class) -}}

    {% if traits %}
        <h2>{% trans 'Traits' %}</h2>

        {{ render_classes(traits) }}
    {% endif %}

    {% if constants %}
        <h2>{% trans 'Constants' %}</h2>

        {{- block('constants') }}
    {% endif %}

    {# BEGIN CUSTOMISATION - display config if there is any #}
    {% if configs %}
        <h2>{% trans 'Config options' %}</h2>

        {{- block('configs') }}
    {% endif %}
    {# END CUSTOMISATION #}

    {% if properties %}
        <h2>{% trans 'Properties' %}</h2>

        {{ block('properties') }}
    {% endif %}

    {% if methods %}
        <h2>{% trans 'Methods' %}</h2>

        {{ block('methods') }}

        <h2>{% trans 'Details' %}</h2>

        {{ block('methods_details') }}
    {% endif %}

{% endblock %}

{# BEGIN CUSTOMISATION - completely new block #}
{% block configs %}
    <table class="table table-condensed">
        {% for config in configs %}
            <tr id="property_{{ config.name|raw }}">
                <td>{{ config.name|raw }}</td>
                <td class="type">{{ hint_link(config.hint) }}</td>
                <td class="last">{{ config.shortdesc|desc(class)|md_to_html }}</td>
                <td>
                    {%- if config.class is not same as(class) -%}
                    <small>{{ 'from&nbsp;%s'|trans|format(property_link(config, false, true))|raw }}</small>
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{# END CUSTOMISATION #}
